<div class="row align-items-center">
  <div class="col-2"></div>
  <div class="col-8 p8">
      <form>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Verificado</label>
          </div>
          <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
              <label for="floatingTextarea2">Comentarios</label>
          </div>
          <div class="text-center p-3">
              <button type="submit" class="btn btn-primary ">Enviar</button>
          </div>
      </form>
  </div>
  <div class="col-2"></div>
</div>
